//  Author: Md. Tanvir Islam
html
  head
    meta(charset='utf8')
    title 404
    link(rel='stylesheet', type='text/css', href='static/css/drive.css')
  body(background='static/imgs/cloud.png')
    h1 404 Not Found
