//  Author: Md. Tanvir Islam
html
	head
		meta(charset = 'utf8')
		title TinDrive
		link(rel = 'stylesheet', type = 'text/css', href = 'static/css/drive.css')
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(type = 'text/javascript', src = 'static/js/drive.js')
		script(type = 'text/javascript', src = 'static/js/DropBox.js')
		script(type = 'text/javascript', src = 'static/js/Logout.js')
		script(type = 'text/javascript', src = 'static/js/Icon.js')
		script(type = 'text/javascript', src = 'static/js/FileIcon.js')
		script(type = 'text/javascript', src = 'static/js/FolderIcon.js')
		script(type = 'text/javascript', src = 'static/js/FileSystemLayout.js')
	body
		p(id = "username", style = "color: white;") #{name}
