//  Author: Md. Tanvir Islam
html
	head
		meta(charset = 'utf8')
		title TinDrive
		link(rel = 'stylesheet', type = 'text/css', href = 'public/css/drive.css')
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(type = 'text/javascript', src = 'public/javascript/drive.js')
		script(type = 'text/javascript', src = 'public/javascript/DropBox.js')
		script(type = 'text/javascript', src = 'public/javascript/Logout.js')
		script(type = 'text/javascript', src = 'public/javascript/Icon.js')
		script(type = 'text/javascript', src = 'public/javascript/FileIcon.js')
		script(type = 'text/javascript', src = 'public/javascript/FolderIcon.js')
		script(type = 'text/javascript', src = 'public/javascript/FileSystemLayout.js')
		script(type = 'text/javascript', src = 'public/javascript/Path.js')
	body
		p(id = "username", style = "color: white;") #{name}
