//  Author: Md. Tanvir Islam
html
	head
		meta(charset = 'utf8')
		title TinDrive
		link(rel = 'stylesheet', type = 'text/css', href = './../public/css/drive.css')
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(type = 'text/javascript', src = './../public/scripts/drive.js')
		script(type = 'text/javascript', src = './../public/scripts/DropBox.js')
		script(type = 'text/javascript', src = './../public/scripts/Logout.js')
		script(type = 'text/javascript', src = './../public/scripts/Icon.js')
		script(type = 'text/javascript', src = './../public/scripts/FileIcon.js')
		script(type = 'text/javascript', src = './../public/scripts/FolderIcon.js')
		script(type = 'text/javascript', src = './../public/scripts/FileSystemLayout.js')
		script(type = 'text/javascript', src = './../public/scripts/Path.js')
		script(type = 'text/javascript', src = './../public/scripts/UtilityButton.js')
		script(type = 'text/javascript', src = './../public/scripts/Download.js')
		script(type = 'text/javascript', src = './../public/scripts/Table.js')
		script(type = 'text/javascript', src = './../public/scripts/Delete.js')
		script(type = 'text/javascript', src = './../public/scripts/Trash.js')
	body
		p(id = "username", style = "color: white;") #{name}
