<!--
Author: Md. Tanvir Islam
-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8"/>
	<title>TinDrive</title>
	<!-- exact syntax must be staticfiles, the syntax below automatically loads the static files-->
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'FS/css/drive.css' %}">
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'FS/js/drive.js' %}"></script>
</head>
<body>
<!-- <body background = "static/imgs/cloud-two.jpg"> -->

</body>
</html>
